.ev-search-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ev-card-search {
    border-color: #e4e1d1;
    border: 0;
    border-radius: 0;
}

.ev-search-input {
    height: 38px;
}

.ev-search-container {
    margin-top: 20px;
    .lt-head {
        color: grey;
        font-size: 14px;
        th {
            padding: 12px 0 12px 0;
        }
    }
    .lt-body {
        font-size: 14px;
        td {
            padding: 10px 0 10px 0;
        }
    }
    height: -webkit-fill-available;
}

.ev-find {
    margin-bottom: 12px;
    color: #787878;
    border-bottom-style: solid;
    border-bottom-color: #666666;
    border-bottom-width: 1px;
}


// ADD BUTTON //////////////////////////////////////////////////////////////////////////////////////////
.ev-add-padding {
    padding-right: 0px;
}

.ev-add-white-padding {
    @media (min-width: 576px) and (max-width: 767px) {
        padding-right: 8px;
        padding-left: 8px;
    }
}

.ev-add-search {
    max-width: fit-content;
    margin-bottom: 15px;
}

.ev-add-button {
    text-align: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
